/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/
@import "bootstrap";

body { 
    min-height: 100%;
}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -20px;
}

.footer-adm{
    clear: both;
    position: relative;
    height: 500px;
    margin-top: -1px;
}

.comment{ 
    margin-bottom: 0;
}
.product-image {
    height: 500px;
}

@media (max-width: 991.98px) {
    .product-image {
        height: 300px;
        min-height: 25%;
    }
}

.divider{
    width:1px;
    height:38px;
    margin:5px;
    background-color: #272a2c;
}

.div-li{
    list-style: none;
    padding: 2px;
    margin: 0;
}

@media (max-width:991.98px){
    .divider{
        margin:18px 5px;
    }
}