<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <h1>Editing Product</h1>

    <%= render 'form', product: @product %>

    <%= link_to 'Show', @product, class: "btn btn-outline-dark mt-auto"%> 
  </div>
</section>
